* {
    padding: 0;
    margin: 0;
    background: #D7DAE0;
}

body {
    padding: 0;
    margin: 0;
}
/*----------------Estilos Header-----------------------------*/
header{
    width: 100%;
    text-align: center;
    height: 120px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Img_Header{
    width: 25%;
    height: 120px;
    background: #37BC7D;
}

.img_header{
    background: none;
}

.div_botones{
    width: 75%;
    height: 120px;
    background: #5DD09A;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
header h1{
    color: white;
    margin-top: 7px;
    background: none;
    line-height: 101px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn_header {
    margin-top: 30px;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    background: transparent;
    margin-left: 100px;
    border-color: #00B2FF;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.Img_Header img{
    width: 120px;
    height: 120px;
}

/*------------Fin Estilos Header-----------------------------*/
/*------------Inicio Estilos Container cards-----------------*/
.container_card{
    width: 100%;
    height: 600px;
    position: static;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cards{
    height: 500px;
    width: 20%;
    margin: 40px;
    border-radius: 8px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.cards p {
    font-family: Arial, Helvetica, sans-serif;
}
.cards h2{
    font-family: Arial, Helvetica, sans-serif;
}

.cards_medio{
    height: 500px;
    width: 40%;
    margin: 50px;
    border-radius: 8px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.cards_medio p{
    font-family: Arial, Helvetica, sans-serif;
}

.cards_medio h2{
    font-family: Arial, Helvetica, sans-serif;
}

.cards_medio img{
    height: 290px;
    width: 100%;
    border-radius: 8px;
}

.cards img{
    height: 290px;
    width: 100%;
    border-radius: 8px;
}

/*------------Fin Estilos Container cards-----------------*/
/*------------Inicio Estilos Formulario  -----------------*/

.container_Formulario{
    width: 100%;
    height: 650px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #5FFCAD;
}

.container_Formulario h1{
    background: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.Formulario{
    width: 85%;
    height: 500px;
    border-radius: 5px;
    background: white;
}
